{
  "extends": [
    "airbnb"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "id-length": 0,
    "func-names": 0,
    "no-shadow": 1,
    "no-param-reassign": 1,
    "brace-style": [2,
      "stroustrup", {
      "allowSingleLine": true
    }]
  }
}
